.modal-wrapper {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(4, 9, 17, 0.8);

  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}

.modal-wrapper.active {
  visibility: visible;
  opacity: 1;
}

.modal {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  width: min(59rem, 90%);
  background: var(--white);
  margin: auto;
  padding: 6.4rem;
  border-radius: 0.8rem;
}

.modal-wrapper .modal h2 {
  font-size: 2.4rem;
  color: var(--black);
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.modal-wrapper .modal h2::first-letter {
  text-transform: uppercase;
}

.modal-wrapper .modal p {
  color: var(--gray-dark);
  margin-bottom: 2.4rem;
}

.modal-wrapper .modal input {
  margin-bottom: 4rem;
  padding: 1.3rem 1.6rem;
  border-radius: 0.8rem;
  outline: none;
  border: 2px solid var(--blue);
  width: min(30.2rem, 70%);
}

.modal-wrapper .modal .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-wrapper .modal .buttons > .button + button {
  margin-left: 0.8rem;
}

.modal-wrapper .modal .buttons > .button,
.modal-wrapper .modal .buttons > button {
  padding: 1.3rem 3.2rem;
}
